div.article-tile {
    //margin: 15px;
    //padding: 5px;
    //border: 1px solid black;
    
    img.article-tile-image {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

div.tu0 {
    padding: 0px;
    margin-bottom: 100px;
    background: transparent;
}


div.tu1 {
    padding: 0px;
    margin-bottom: 100px;
    width: 20%;
    float: left;
}

.tu0{
    color: white;
    text-decoration: none;
}


.tu0:hover{
    color: rgba(30, 30, 30, 1);
    background-color: rgba(248, 248, 248, 1);
    text-decoration: none;
}

.tu1{
    color: white;
    text-decoration: none;
}

.tu1:hover{
    color: rgba(30, 30, 30, 1);
    background-color: rgba(248, 248, 248, 1);
    text-decoration: none;
}

a {
    text-decoration: none;
    color:white;
}
a:hover {
    text-decoration: none;
    color: rgba(30, 30, 30, 1);
    background-color: rgba(248, 248, 248, 1);
}

// Bootstrap xs
@media(max-width:768px) {
    div.article-tile {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        
        .col-xs-6 {
            margin: 0px;
            padding: 0px 10px 0px 0px;
        }
        
        img.article-tile-image {
            margin: 0px;
            padding-right: 0px;
        }
    }

    div.tu1 {
        padding: 0px;
        margin-bottom: 100px;
        width: 100%;
        float: left;
    }
}

// Custom
@media(max-width:500px) {
    div.article-tile {
        p.article-tile-description, p.article-tile-more{
            display: none;
        }
    }

    //div.tu1 {
    //    padding: 0px;
    //    margin-bottom: 100px;
    //    width: 100%;
    //    float: left;
    //}
}