<div class="container-fluid">
    <div class="row">
        <div ng-repeat="article in tu0" class="col-lg-4">
            <div article-tile-zero></div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <!--<div ng-repeat="article in tu1" class="tu1 col-lg-2" ng-class="{'col-lg-offset-1': $index==0}">
            <div article-tile-one></div>
        </div>-->
        <div ng-repeat="article in tu1" class="tu1 col-md-15"">
            <div article-tile-one></div>
        </div>
    </div>
</div>




<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<div class="tu0">-->
                <!--<h2 class="tu0 themeTitle">Interactive video instalations</h2>-->
                <!--<div ng-repeat="article in tu0" class="tu0">-->
                    <!--<div article-tile></div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<div class="tu1">-->
                <!--<h2 class="tu1 themeTitle">Thematic research</h2>-->
                <!--<div ng-repeat="article in tu1" class="tu1">-->
                    <!--<div article-tile></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->